# testing stuff using EasyStack
eb --sanity-check-only --experimental --easystack ${SW_YAML} &> /dev/shm/${SLURM_JOBID}-testing.log 
if [ $? -gt 0 ]; then
	echo "FAILURE"
	cat /dev/shm/${SLURM_JOBID}-testing.log 
	cp -f /dev/shm/${SLURM_JOBID}-testing.log ${WORKINGDIR}/logs
else
	echo "PASS"
fi
